modules = ["nodejs-20", "web"]
compile = "make"
run = "make run dev"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "make"]
run = ["sh", "-c", "make run dev"]

[[ports]]
localPort = 3000
externalPort = 80
